/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: grey;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: grey;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: lightgray;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 61%), 0 6px 20px 0 rgb(0 0 0 / 50%);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}